body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
    margin-bottom: 2.5rem;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #218959;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1b724a;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  button + button {
    margin-top: 20px;
  }
  